In [28]:
import pandas as pd
import statsmodels.formula.api as smf
import matplotlib.pyplot as plt
import seaborn as sb

In [56]:
path = '/Users/nicolelubaczewska/Downloads/ba222Project_CleanData_12December.csv'

cs = pd.read_csv(path)

cs.head()

,Unnamed: 0,Food_spending,Income,Allowance_month,Source of Income,Other_Income,Work,DiningPlan,Other_DiningPlan,Breakfast,...,Panda,Late Night Kitchen Fenway,Meals_Amount,Travel,Travel_Other,Age,Living,Gender,International,BU_Status
0,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,...,False,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,...,False,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,9,20.0,0.0,0.0,Work,NaN,Yes,330 Plan,NaN,True,...,False,False,14.0,5.0,NaN,19.0,0.0,Male,No,Undergraduate student
3,11,30.0,0.0,0.0,Savings,NaN,No,Unlimited Plan,NaN,True,...,True,False,24.0,15.0,NaN,19.0,0.0,Male,Yes,Undergraduate student
4,12,NaN,4.0,3.0,Allowance,NaN,Yes,Apartment Plan 500,NaN,False,...,False,False,2.0,15.0,NaN,19.0,1.0,Male,No,Undergraduate student

In [57]:
cs.Food_spending.astype('float')

smf.ols('Food_spending ~ C(Mealbox)', data = cs).fit().params

Intercept                         60.000000
C(Mealbox)[T.Always]             -50.000000
C(Mealbox)[T.Most of the time]   -31.000000
C(Mealbox)[T.Never]               18.414634
C(Mealbox)[T.Sometimes]            8.200000
dtype: float64

In [58]:
cs['Mealbox'].value_counts()

Never                  90
Sometimes              30
Most of the time        6
About half the time     4
Always                  3
Name: Mealbox, dtype: int64

In [55]:
cs.corr()[['Food_spending', 'Mealbox']]

#Allowance_month
#Breakfast
#Dinner
#Starbucks
#CityCo
#Meals_Amount
#Age
#Living

                           Food_spending   Mealbox
Unnamed: 0                      0.020725  0.078700
Food_spending                   1.000000 -0.181754
Income                         -0.021180 -0.060517
Allowance_month                 0.196368  0.067283
Other_DiningPlan                     NaN       NaN
Breakfast                      -0.066241 -0.105855
Lunch                           0.020963  0.016823
Snack                           0.022936  0.000262
Dinner                          0.101018 -0.232862
Mealbox                        -0.181754  1.000000
Starbucks                       0.044429 -0.040983
CityCo                          0.196232 -0.264624
Dunkin                          0.091533  0.045577
Breadwinners                    0.023711 -0.055790
Baystate Underground            0.198951  0.075464
Law School Cafe                      NaN       NaN
Einstein Bros. Bagels          -0.028889  0.137324
Subway                         -0.023745 -0.046288
Basho                           0.101425 -0.137848
Late Night Cafe Warren         -0.074247 -0.097573
Raising Canes                   0.108754 -0.090098
Healthy Blends                 -0.099974  0.065446
Late Night Cafe West           -0.040661 -0.002152
Greens & Grains                -0.054361 -0.065289
CRB                             0.032831  0.034283
Open Kitchen                    0.019684 -0.048047
Rhetts                         -0.041589 -0.004836
The Halal Guys                  0.005945 -0.004520
Panda                           0.048944 -0.114994
Late Night Kitchen Fenway            NaN -0.048229
Meals_Amount                    0.031907 -0.328118
Travel                          0.127183 -0.009152
Travel_Other                         NaN       NaN
Age                            -0.087472  0.145794
Living                         -0.037912  0.262049

In [59]:
reg1 = smf.ols('Food_spending ~ C(Mealbox)', data = cs).fit()

reg2 = smf.ols('Food_spending ~ C(Mealbox) + C(Allowance_month)', data = cs).fit()

reg3 = smf.ols('Food_spending ~ C(Mealbox) + Breakfast', data = cs).fit()

reg4 = smf.ols('Food_spending ~ C(Mealbox) + Dinner', data = cs).fit()

reg5 = smf.ols('Food_spending ~ C(Mealbox) + Starbucks', data = cs).fit()

reg6 = smf.ols('Food_spending ~ C(Mealbox) + CityCo', data = cs).fit()

reg7 = smf.ols('Food_spending ~ C(Mealbox) + Meals_Amount', data = cs).fit()

reg8 = smf.ols('Food_spending ~ C(Mealbox) + Age', data = cs).fit()

reg9 = smf.ols('Food_spending ~ C(Mealbox) + Living', data = cs).fit()


from statsmodels.iolib.summary2 import summary_col



summary_col([reg1, reg2, reg3, reg4, reg5, reg6, reg7, reg8, reg9],
            stars = True,
            regressor_order = ['Intercept', 'time'])

<class 'statsmodels.iolib.summary2.Summary'>
"""

==================================================================================================================================================================================================================
                               Food_spending I Food_spending II Food_spending III Food_spending IIII Food_spending IIIII Food_spending IIIIII Food_spending IIIIIII Food_spending IIIIIIII Food_spending IIIIIIIII
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
Intercept                      60.0000         20.6704          66.1214           56.0481            54.5843             60.0000              61.8651               82.9151                59.6789
                               (45.2610)       (58.8226)        (45.7437)         (45.6201)          (46.5538)           (44.8564)            (46.5924)             (58.6861)              (46.7821)
Age                                                                                                                                                                 -0.9548
                                                                                                                                                                    (1.4846)
C(Mealbox)[T.Most of the time] -31.0000        2.1529           -37.1214          -27.0481           -28.8337            -31.0000             -32.0043              -34.0553               -31.0642
                               (57.2512)       (67.9636)        (57.6436)         (57.5723)          (57.5818)           (56.7394)            (58.4595)             (59.1765)              (57.7669)
Meals_Amount                                                                                                                                  -0.4304
                                                                                                                                              (1.5068)
Living                                                                                                                                                                                     0.4816
                                                                                                                                                                                           (15.4117)
Dinner[T.True]                                                                    11.8556
                                                                                  (15.1657)
CityCo[T.True]                                                                                                           26.1575*
                                                                                                                         (14.9833)
C(Mealbox)[T.Sometimes]        8.2000          16.9542          5.0169            7.8839             8.0917              -3.3093              11.9655               6.9859                 8.1743
                               (47.8998)       (59.1176)        (48.0408)         (47.9841)          (48.0540)           (47.9272)            (49.1037)             (49.7140)              (48.3077)
Breakfast[T.True]                                               -18.3642
                                                                (19.4369)
C(Mealbox)[T.Never]            18.4146         43.3275          15.6525           15.2821            18.5797             3.4219               20.1663               18.1319                18.9022
                               (46.0815)       (57.9725)        (46.1960)         (46.3346)          (46.2305)           (46.4701)            (47.3778)             (47.8267)              (46.6829)
C(Mealbox)[T.Always]           -50.0000        -40.4347         -56.1214          -53.9519           -52.7079            -58.7192             -50.8608              -45.7034               -50.0000
                               (64.0088)       (72.9501)        (64.3661)         (64.3181)          (64.4193)           (63.6329)            (65.3110)             (74.0339)              (64.5445)
C(Allowance_month)[T.6.0]                      44.6465**
                                               (17.2192)
C(Allowance_month)[T.5.0]                      -13.7630
                                               (37.0812)
C(Allowance_month)[T.4.0]                      48.8454
                                               (40.6992)
C(Allowance_month)[T.3.0]                      -5.9873
                                               (32.8582)
C(Allowance_month)[T.2.0]                      59.1008
                                               (38.7408)
C(Allowance_month)[T.1.0]                      16.0021
                                               (56.4250)
Starbucks[T.True]                                                                                    8.1236
                                                                                                     (15.4088)
R-squared                      0.0347          0.1272           0.0423            0.0399             0.0371              0.0602               0.0350                0.0371                 0.0352
R-squared Adj.                 0.0005          0.0390           -0.0004           -0.0029            -0.0059             0.0183               -0.0097               -0.0092                -0.0083
==================================================================================================================================================================================================================
Standard errors in parentheses.
* p<.1, ** p<.05, ***p<.01
"""

In [67]:
reg10 = smf.ols('Food_spending ~ C(Mealbox) + Allowance_month + CityCo', data = cs).fit()
reg10.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:          Food_spending   R-squared:                       0.118
Model:                            OLS   Adj. R-squared:                  0.067
Method:                 Least Squares   F-statistic:                     2.297
Date:                Tue, 20 Dec 2022   Prob (F-statistic):             0.0402
Time:                        13:29:51   Log-Likelihood:                -630.09
No. Observations:                 110   AIC:                             1274.
Df Residuals:                     103   BIC:                             1293.
Df Model:                           6
Covariance Type:            nonrobust
==================================================================================================
                                     coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------------------
Intercept                         10.9627     55.721      0.197      0.844     -99.548     121.473
C(Mealbox)[T.Always]             -36.2777     70.360     -0.516      0.607    -175.821     103.265
C(Mealbox)[T.Most of the time]     3.8413     64.612      0.059      0.953    -124.301     131.984
C(Mealbox)[T.Never]               36.9514     55.972      0.660      0.511     -74.056     147.959
C(Mealbox)[T.Sometimes]           23.0107     56.960      0.404      0.687     -89.957     135.978
CityCo[T.True]                    28.5123     15.279      1.866      0.065      -1.791      58.815
Allowance_month                    6.4527      2.732      2.362      0.020       1.034      11.871
==============================================================================
Omnibus:                      104.528   Durbin-Watson:                   1.484
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             1268.689
Skew:                           3.170   Prob(JB):                    3.22e-276
Kurtosis:                      18.382   Cond. No.                         68.9
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""