In [1]:
import pandas as pd

path = '/Users/nicolelubaczewska/Downloads/BA222-rawData_campusSpending_December8.csv'

rawData = pd.read_csv(path)

rawData

,StartDate,EndDate,Status,IPAddress,Progress,Duration (in seconds),Finished,RecordedDate,ResponseId,RecipientLastName,...,Q10_19,Q10_20,Q11,Q12,Q12_7_TEXT,Q13,Q16,Q14,Q15,Q18
0,Start Date,End Date,Response Type,IP Address,Progress,Duration (in seconds),Finished,Recorded Date,Response ID,Recipient Last Name,...,Which place on campus do you spend most cash/p...,Which place on campus do you spend most cash/p...,How many meals on average per week do you eat ...,How long does it typically take you to travel ...,How long does it typically take you to travel ...,What is your age?,Do you live on-campus or off-campus?,What is your gender?,"If you are a student, are you international?",What is your status at BU?
1,"{""ImportId"":""startDate"",""timeZone"":""America/De...","{""ImportId"":""endDate"",""timeZone"":""America/Denv...","{""ImportId"":""status""}","{""ImportId"":""ipAddress""}","{""ImportId"":""progress""}","{""ImportId"":""duration""}","{""ImportId"":""finished""}","{""ImportId"":""recordedDate"",""timeZone"":""America...","{""ImportId"":""_recordId""}","{""ImportId"":""recipientLastName""}",...,"{""ImportId"":""QID20"",""choiceId"":""19""}","{""ImportId"":""QID20"",""choiceId"":""20""}","{""ImportId"":""QID24_TEXT""}","{""ImportId"":""QID22""}","{""ImportId"":""QID22_7_TEXT""}","{""ImportId"":""QID2_TEXT""}","{""ImportId"":""QID5""}","{""ImportId"":""QID3""}","{""ImportId"":""QID4""}","{""ImportId"":""QID25""}"
2,2022-11-07 11:13:47,2022-11-07 11:14:04,Survey Preview,NaN,100,17,True,2022-11-07 11:14:05,R_1rOX6tEtag6UlQY,NaN,...,NaN,NaN,NaN,NaN,NaN,-99,-99,-99,-99,NaN
3,2022-11-11 12:49:42,2022-11-11 12:50:02,Survey Preview,NaN,100,20,True,2022-11-11 12:50:03,R_3qJV3vXkgg0o7y6,NaN,...,-99,NaN,-99,-99,-99,-99,-99,-99,-99,-99
4,2022-11-13 11:04:37,2022-11-13 11:04:50,Survey Preview,NaN,100,13,True,2022-11-13 11:04:51,R_1K1Mk6CHzIX65Rh,NaN,...,-99,NaN,-99,-99,-99,-99,-99,-99,-99,-99
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
182,2022-12-07 12:09:23,2022-12-07 12:10:56,IP Address,128.197.29.231,100,92,True,2022-12-07 12:10:57,R_1d18h8BpQYqliDL,NaN,...,0,0,7,30,-99,21,Off-campus,Male,No,Undergraduate student
183,2022-12-07 12:11:59,2022-12-07 12:13:17,IP Address,128.197.29.245,100,78,True,2022-12-07 12:13:18,R_28ND15PwywgzwSm,NaN,...,0,0,7,15,-99,20,On-campus,Male,No,Undergraduate student
184,2022-12-07 12:14:04,2022-12-07 12:15:38,IP Address,128.197.29.234,100,93,True,2022-12-07 12:15:39,R_2c6PvqAuhiSjp1Z,NaN,...,0,0,2,15,-99,25,Off-campus,Female,Yes,Graduate student
185,2022-11-30 20:47:11,2022-11-30 20:47:16,IP Address,172.58.219.238,6,4,False,2022-12-07 20:47:24,R_24zKV7g7oO52UfV,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
186,2022-12-08 06:18:51,2022-12-08 06:21:41,IP Address,128.197.29.244,100,169,True,2022-12-08 06:21:42,R_3Ms5qftUQvUWkMg,NaN,...,Panda Express,0,-99,15,-99,19,Off-campus,Female,Yes,Undergraduate student

In [2]:
colHeaders = rawData.head(2)

In [3]:
cleanData = rawData.drop([0,1])
cleanData

,StartDate,EndDate,Status,IPAddress,Progress,Duration (in seconds),Finished,RecordedDate,ResponseId,RecipientLastName,...,Q10_19,Q10_20,Q11,Q12,Q12_7_TEXT,Q13,Q16,Q14,Q15,Q18
2,2022-11-07 11:13:47,2022-11-07 11:14:04,Survey Preview,NaN,100,17,True,2022-11-07 11:14:05,R_1rOX6tEtag6UlQY,NaN,...,NaN,NaN,NaN,NaN,NaN,-99,-99,-99,-99,NaN
3,2022-11-11 12:49:42,2022-11-11 12:50:02,Survey Preview,NaN,100,20,True,2022-11-11 12:50:03,R_3qJV3vXkgg0o7y6,NaN,...,-99,NaN,-99,-99,-99,-99,-99,-99,-99,-99
4,2022-11-13 11:04:37,2022-11-13 11:04:50,Survey Preview,NaN,100,13,True,2022-11-13 11:04:51,R_1K1Mk6CHzIX65Rh,NaN,...,-99,NaN,-99,-99,-99,-99,-99,-99,-99,-99
5,2022-11-13 11:07:37,2022-11-13 11:07:49,Survey Preview,NaN,100,11,True,2022-11-13 11:07:49,R_2zACOKqDTAFA6zL,NaN,...,-99,-99,-99,-99,-99,-99,-99,-99,-99,-99
6,2022-11-13 11:08:54,2022-11-13 11:09:05,IP Address,128.197.29.241,100,11,True,2022-11-13 11:09:06,R_ALPK7hZOaGsTdBf,NaN,...,-99,-99,-99,-99,-99,-99,-99,-99,-99,-99
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
182,2022-12-07 12:09:23,2022-12-07 12:10:56,IP Address,128.197.29.231,100,92,True,2022-12-07 12:10:57,R_1d18h8BpQYqliDL,NaN,...,0,0,7,30,-99,21,Off-campus,Male,No,Undergraduate student
183,2022-12-07 12:11:59,2022-12-07 12:13:17,IP Address,128.197.29.245,100,78,True,2022-12-07 12:13:18,R_28ND15PwywgzwSm,NaN,...,0,0,7,15,-99,20,On-campus,Male,No,Undergraduate student
184,2022-12-07 12:14:04,2022-12-07 12:15:38,IP Address,128.197.29.234,100,93,True,2022-12-07 12:15:39,R_2c6PvqAuhiSjp1Z,NaN,...,0,0,2,15,-99,25,Off-campus,Female,Yes,Graduate student
185,2022-11-30 20:47:11,2022-11-30 20:47:16,IP Address,172.58.219.238,6,4,False,2022-12-07 20:47:24,R_24zKV7g7oO52UfV,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
186,2022-12-08 06:18:51,2022-12-08 06:21:41,IP Address,128.197.29.244,100,169,True,2022-12-08 06:21:42,R_3Ms5qftUQvUWkMg,NaN,...,Panda Express,0,-99,15,-99,19,Off-campus,Female,Yes,Undergraduate student

In [4]:
cleanData = cleanData[cleanData.Progress == '100']

In [5]:
cleanData

,StartDate,EndDate,Status,IPAddress,Progress,Duration (in seconds),Finished,RecordedDate,ResponseId,RecipientLastName,...,Q10_19,Q10_20,Q11,Q12,Q12_7_TEXT,Q13,Q16,Q14,Q15,Q18
2,2022-11-07 11:13:47,2022-11-07 11:14:04,Survey Preview,NaN,100,17,True,2022-11-07 11:14:05,R_1rOX6tEtag6UlQY,NaN,...,NaN,NaN,NaN,NaN,NaN,-99,-99,-99,-99,NaN
3,2022-11-11 12:49:42,2022-11-11 12:50:02,Survey Preview,NaN,100,20,True,2022-11-11 12:50:03,R_3qJV3vXkgg0o7y6,NaN,...,-99,NaN,-99,-99,-99,-99,-99,-99,-99,-99
4,2022-11-13 11:04:37,2022-11-13 11:04:50,Survey Preview,NaN,100,13,True,2022-11-13 11:04:51,R_1K1Mk6CHzIX65Rh,NaN,...,-99,NaN,-99,-99,-99,-99,-99,-99,-99,-99
5,2022-11-13 11:07:37,2022-11-13 11:07:49,Survey Preview,NaN,100,11,True,2022-11-13 11:07:49,R_2zACOKqDTAFA6zL,NaN,...,-99,-99,-99,-99,-99,-99,-99,-99,-99,-99
6,2022-11-13 11:08:54,2022-11-13 11:09:05,IP Address,128.197.29.241,100,11,True,2022-11-13 11:09:06,R_ALPK7hZOaGsTdBf,NaN,...,-99,-99,-99,-99,-99,-99,-99,-99,-99,-99
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
181,2022-12-07 12:08:53,2022-12-07 12:10:38,IP Address,128.197.29.236,100,104,True,2022-12-07 12:10:39,R_3J4WaKajlAZeziL,NaN,...,0,0,2,15,-99,-99,Off-campus,Female,No,Undergraduate student
182,2022-12-07 12:09:23,2022-12-07 12:10:56,IP Address,128.197.29.231,100,92,True,2022-12-07 12:10:57,R_1d18h8BpQYqliDL,NaN,...,0,0,7,30,-99,21,Off-campus,Male,No,Undergraduate student
183,2022-12-07 12:11:59,2022-12-07 12:13:17,IP Address,128.197.29.245,100,78,True,2022-12-07 12:13:18,R_28ND15PwywgzwSm,NaN,...,0,0,7,15,-99,20,On-campus,Male,No,Undergraduate student
184,2022-12-07 12:14:04,2022-12-07 12:15:38,IP Address,128.197.29.234,100,93,True,2022-12-07 12:15:39,R_2c6PvqAuhiSjp1Z,NaN,...,0,0,2,15,-99,25,Off-campus,Female,Yes,Graduate student
186,2022-12-08 06:18:51,2022-12-08 06:21:41,IP Address,128.197.29.244,100,169,True,2022-12-08 06:21:42,R_3Ms5qftUQvUWkMg,NaN,...,Panda Express,0,-99,15,-99,19,Off-campus,Female,Yes,Undergraduate student

In [6]:
cleanData = cleanData[(cleanData.DistributionChannel == 'qr') |(cleanData.DistributionChannel == 'email')]

In [7]:
cleanData = cleanData[cleanData.Finished == "True"]

In [8]:
cleanData = cleanData.rename(columns={'Q1':'Food_spending', 'Q2': 'Income', 'Q4':'Allowance_month', 'Q5': 'Source of Income', 'Q6': 'Work', 'Q7': 'DiningPlan', 'Q8': 'OnCampus_Meals', 'Q9': 'Mealbox', 'Q11': 'Meals_Amount', 'Q12': 'Travel', 'Q13':'Age', 'Q14':'Gender', 'Q15':'International', 'Q16': 'Living', 'Q18': 'BU_Status'})

In [9]:
cleanData = cleanData.rename(columns={'Q5_7_TEXT':'Other_Income', 'Q7_9_TEXT': 'Other_DiningPlan', 'Q8_5_TEXT':'Other_OnCampus_Meals', 'Q12_7_TEXT': 'Travel_Other'})

In [10]:
cleanData = cleanData.rename(columns={'Q8_1':'Breakfast', 'Q8_2':'Lunch', 'Q8_3':'Snack', 'Q8_4': 'Dinner', 'Q8_5': 'Other'})

In [11]:
cleanData = cleanData.rename(columns={'Q10_1':'Starbucks', 'Q10_2':'CityCo', 'Q10_3':'Dunkin', 'Q10_4': 'Breadwinners', 'Q10_5': 'Baystate Underground', 'Q10_6': 'Law School Cafe', 'Q10_7': 'Einstein Bros. Bagels', 'Q10_8': 'Subway', 'Q10_9': 'Basho', 'Q10_10':'Late Night Cafe Warren', 'Q10_11':'Raising Canes', 'Q10_12': 'Healthy Blends', 'Q10_13': 'Late Night Cafe West', 'Q10_14': 'Greens & Grains', 'Q10_15': 'CRB', 'Q10_16':'Open Kitchen', 'Q10_17':'Rhetts', 'Q10_18':'The Halal Guys', 'Q10_19':'Panda', 'Q10_20':'Late Night Kitchen Fenway'})

In [12]:
cleanData = cleanData.drop(columns =['StartDate', 'EndDate', 'Status', 'IPAddress','Progress','Duration (in seconds)', 'Finished','RecordedDate', 'ResponseId', 'RecipientLastName','RecipientFirstName', 'RecipientEmail', 'ExternalReference','LocationLatitude', 'LocationLongitude','DistributionChannel', 'UserLanguage', 'Other_OnCampus_Meals'], axis = 1)

In [13]:
cleanData.Income.unique()

array(['-99', '0-25K', '100K-125K', '>150K', '75K-100K', '25K-50K',
       '50K-75K', '125K-150K'], dtype=object)

In [14]:
income = cleanData.Income

income = income.str.replace('0-25K','0')
income = income.str.replace('25K-50K','1')
income = income.str.replace('50K-75K', '2')
income = income.str.replace('75K-100K', '3')
income = income.str.replace('100K-125K', '4')
income = income.str.replace('125K-150K', '5')
income = income.str.replace('>150K', '6')

cleanData.Income = income

cleanData.Income.unique()

array(['-99', '0', '4', '6', '3', '1', '2', '5'], dtype=object)

In [16]:
import numpy as np
Q11 = cleanData.Meals_Amount

cleanData['Meals_Amount'][cleanData['Meals_Amount'] == '9-11'] = np.nan
cleanData['Meals_Amount'][cleanData['Meals_Amount'] == '5-6'] = np.nan #drop this one

cleanData.Meals_Amount = Q11

cleanData.Meals_Amount.unique()

array(['-99', '14', '24', '2', '5', '9', '8', '15', '3', '4', '13', '20',
       '1', '10', '0', '11', '6', '18', '7', '12', '21', '5 ', '17', nan],
      dtype=object)

In [17]:
import numpy as np

Q1 = cleanData.Food_spending 

Q1 = Q1.str.replace('$','')
Q1 = Q1.str.replace('Around','')
Q1 = Q1.str.replace(' ', '')
Q1 = Q1.str.replace('bucks', '')
Q1 = Q1.str.replace('dollars', '')
Q1 = Q1.str.replace('Like100', '100')

#Q1 = Q1[str == 'Toomuch'] = np.nan
#Q1 = Q1[str == '20-40'] = np.nan

cleanData.Food_spending = Q1

cleanData['Food_spending'][cleanData['Food_spending'] == 'Toomuch'] = np.nan
cleanData['Food_spending'][cleanData['Food_spending'] == '20-40'] = np.nan

#df = df.drop(cleanData.Food_spending['Toomuch'], axis = 1) # To drop a single variable


cleanData.Food_spending.unique()

/var/folders/9t/l79bhvd558sc7b67xwnk_ly00000gn/T/ipykernel_1742/3007959897.py:5: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  Q1 = Q1.str.replace('$','')

array(['-99', '20', '30', '100', '200', '75', '40', '80', '50', '70', '0',
       '300', '25', '60', '150', '55', nan, '24', '10', '35', '48', '18',
       '15', '600', '175'], dtype=object)

In [18]:
cleanData

,Food_spending,Income,Allowance_month,Source of Income,Other_Income,Work,DiningPlan,Other_DiningPlan,Breakfast,Lunch,...,Panda,Late Night Kitchen Fenway,Meals_Amount,Travel,Travel_Other,Age,Living,Gender,International,BU_Status
6,-99,-99,-99,-99,-99,-99,-99,-99,-99,-99,...,-99,-99,-99,-99,-99,-99,-99,-99,-99,-99
7,-99,-99,-99,-99,-99,-99,-99,-99,-99,-99,...,-99,-99,-99,-99,-99,-99,-99,-99,-99,-99
9,20,0,0,Work,-99,Yes,330 Plan,-99,Breakfast,0,...,0,0,14,5,-99,19,On-campus,Male,No,Undergraduate student
11,30,0,0,Savings,-99,No,Unlimited Plan,-99,Breakfast,Lunch,...,Panda Express,0,24,15,-99,19,On-campus,Male,Yes,Undergraduate student
12,-99,4,101-200,Allowance,-99,Yes,Apartment Plan 500,-99,0,Lunch,...,0,0,2,15,-99,19,Off-campus,Male,No,Undergraduate student
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
181,20,0,0,Work,-99,Yes,I don't have a dining plan,-99,0,Lunch,...,0,0,2,15,-99,-99,Off-campus,Female,No,Undergraduate student
182,175,1,0,Work,-99,Yes,I don't have a dining plan,-99,0,Lunch,...,0,0,7,30,-99,21,Off-campus,Male,No,Undergraduate student
183,60,6,1-50,Savings,-99,No,330 Plan,-99,0,Lunch,...,0,0,7,15,-99,20,On-campus,Male,No,Undergraduate student
184,20,0,0,Scholarship,-99,No,I don't have a dining plan,-99,0,Lunch,...,0,0,2,15,-99,25,Off-campus,Female,Yes,Graduate student
186,50,2,>500,Allowance,-99,No,I don't have a dining plan,-99,Breakfast,0,...,Panda Express,0,-99,15,-99,19,Off-campus,Female,Yes,Undergraduate student

In [19]:
cleanData.Allowance_month.unique()

array(['-99', '0', '101-200', '201-300', '>500', '401-500', '1-50',
       '301-400', '51-100'], dtype=object)

In [20]:
allowance = cleanData.Allowance_month

allowance = allowance.str.replace('0','0')
allowance = allowance.str.replace('1-50','1')
allowance = allowance.str.replace('51-100', '2')
allowance = allowance.str.replace('101-200', '3')
allowance = allowance.str.replace('201-300', '4')
allowance = allowance.str.replace('301-400', '5')
allowance = allowance.str.replace('401-500', '6')
allowance = allowance.str.replace('>500', '6')
allowance = allowance.str.replace('4010', '-99')

cleanData.Allowance_month = allowance

cleanData.Allowance_month.unique()

array(['-99', '0', '3', '4', '6', '1', '5', '2'], dtype=object)

In [21]:
import numpy as np
cleanData['Food_spending'][cleanData['Food_spending'] == '-99'] = np.nan
cleanData['Income'][cleanData['Income'] == '-99'] = np.nan
cleanData['Allowance_month'][cleanData['Allowance_month'] == '-99'] = np.nan
cleanData['Source of Income'][cleanData['Source of Income'] == '-99'] = np.nan
cleanData['Other_Income'][cleanData['Other_Income'] == '-99'] = np.nan
cleanData['Work'][cleanData['Work'] == '-99'] = np.nan
cleanData['DiningPlan'][cleanData['DiningPlan'] == '-99'] = np.nan
cleanData['Mealbox'][cleanData['Mealbox'] == '-99'] = np.nan
cleanData['Meals_Amount'][cleanData['Meals_Amount'] == '-99'] = np.nan
cleanData['Travel'][cleanData['Travel'] == '-99'] = np.nan
cleanData['Age'][cleanData['Age'] == '-99'] = np.nan
cleanData['Living'][cleanData['Living'] == '-99'] = np.nan
cleanData['Gender'][cleanData['Gender'] == '-99'] = np.nan
cleanData['International'][cleanData['International'] == '-99'] = np.nan
cleanData['BU_Status'][cleanData['BU_Status'] == '-99'] = np.nan
cleanData['Other_DiningPlan'][cleanData['Other_DiningPlan'] == '-99'] = np.nan
cleanData['Travel_Other'][cleanData['Travel_Other'] == '-99'] = np.nan
cleanData['Other'][cleanData['Other'] == '-99'] = np.nan
cleanData['Travel_Other'][cleanData['Travel_Other'] == '-99'] = np.nan

In [22]:
cleanData.Gender.unique()

array([nan, 'Male', 'Female', 'Prefer not to answer', 'Non-Binary'],
      dtype=object)

In [23]:
cleanData.Living.unique()

living = cleanData.Living

living = living.str.replace('On-campus','0')
living = living.str.replace('Off-campus','1')

cleanData.Living = living

cleanData.Living.unique()

array([nan, '0', '1'], dtype=object)

In [24]:

def CleaningVariable (vname):
    x = cleanData[vname]
    x = x.str.replace('-99', '0')
    x = x.str.replace(vname, '1')
    cleanData[vname] = x

CleaningVariable('Starbucks')
CleaningVariable('CityCo')
CleaningVariable('Dunkin')
CleaningVariable('Breadwinners')
CleaningVariable('Baystate Underground')
CleaningVariable('Law School Cafe')
CleaningVariable('Einstein Bros. Bagels')
CleaningVariable('Subway')
CleaningVariable('Basho')
CleaningVariable('Late Night Cafe Warren')
CleaningVariable('Raising Canes')
CleaningVariable('Healthy Blends')
CleaningVariable('Late Night Cafe West')
CleaningVariable('Greens & Grains')
CleaningVariable('CRB')
CleaningVariable('Open Kitchen')
CleaningVariable('Rhetts')
CleaningVariable('The Halal Guys')
CleaningVariable('Panda')
CleaningVariable('Late Night Kitchen Fenway')
CleaningVariable('Breakfast')
CleaningVariable('Lunch')
CleaningVariable('Dinner')
CleaningVariable('Snack')

/var/folders/9t/l79bhvd558sc7b67xwnk_ly00000gn/T/ipykernel_1742/1202041276.py:4: FutureWarning: The default value of regex will change from True to False in a future version.
  x = x.str.replace(vname, '1')

In [25]:
cleanData.Starbucks.value_counts()
cleanData.Breakfast.value_counts()

0    115
1     21
Name: Breakfast, dtype: int64

cleanData['Starbucks'][cleanData['Starbucks'] == '-99'] = np.nan
cleanData['CityCo'][cleanData['CityCo'] == '-99'] = np.nan
cleanData['Dunkin'][cleanData['Dunkin'] == '-99'] = np.nan
cleanData['Breadwinners'][cleanData['Breadwinners'] == '-99'] = np.nan
cleanData['Baystate Underground'][cleanData['Baystate Underground'] == '-99'] = np.nan
cleanData['Law School Cafe'][cleanData['Law School Cafe'] == '-99'] = np.nan
cleanData['Einstein Bros. Bagels'][cleanData['Einstein Bros. Bagels'] == '-99'] = np.nan
cleanData['Subway'][cleanData['Subway'] == '-99'] = np.nan
cleanData['Basho'][cleanData['Basho'] == '-99'] = np.nan
cleanData['Late Night Cafe Warren'][cleanData['Late Night Cafe Warren'] == '-99'] = np.nan
cleanData['Raising Canes'][cleanData['Raising Canes'] == '-99'] = np.nan
cleanData['Healthy Blends'][cleanData['Healthy Blends'] == '-99'] = np.nan
cleanData['Late Night Cafe West'][cleanData['Late Night Cafe West'] == '-99'] = np.nan
cleanData['Greens & Grains'][cleanData['Greens & Grains'] == '-99'] = np.nan
cleanData['CRB'][cleanData['CRB'] == '-99'] = np.nan
cleanData['Open Kitchen'][cleanData['Open Kitchen'] == '-99'] = np.nan
cleanData['Rhetts'][cleanData['Rhetts'] == '-99'] = np.nan
cleanData['The Halal Guys'][cleanData['The Halal Guys'] == '-99'] = np.nan
cleanData['Panda Express'][cleanData['Panda Express'] == '-99'] = np.nan
cleanData['Late Night Kitchen Fenway'][cleanData['Late Night Kitchen Fenway'] == '-99'] = np.nan

In [40]:
cleanData['Panda'] = cleanData['Panda'].astype('int')
cleanData['Late Night Kitchen Fenway'] = cleanData['Late Night Kitchen Fenway'].astype('int')
cleanData['Starbucks'] = cleanData['Starbucks'].astype('int')
cleanData['CityCo'] = cleanData['CityCo'].astype('int')
cleanData['Dunkin'] = cleanData['Dunkin'].astype('int')
cleanData['Breadwinners'] = cleanData['Breadwinners'].astype('int')
cleanData['Baystate Underground'] = cleanData['Baystate Underground'].astype('int')

cleanData['Law School Cafe'] = cleanData['Law School Cafe'].astype('int')
cleanData['Einstein Bros. Bagels'] = cleanData['Einstein Bros. Bagels'].astype('int')
cleanData['Subway'] = cleanData['Subway'].astype('int')
cleanData['Basho'] = cleanData['Basho'].astype('int')
cleanData['Late Night Cafe Warren'] = cleanData['Late Night Cafe Warren'].astype('int')
cleanData['Raising Canes'] = cleanData['Raising Canes'].astype('int')

cleanData['Healthy Blends'] = cleanData['Healthy Blends'].astype('int')
cleanData['Late Night Cafe West'] = cleanData['Late Night Cafe West'].astype('int')
cleanData['Greens & Grains'] = cleanData['Greens & Grains'].astype('int')
cleanData['CRB'] = cleanData['CRB'].astype('int')
cleanData['Open Kitchen'] = cleanData['Open Kitchen'].astype('int')

cleanData['Rhetts'] = cleanData['Rhetts'].astype('int')
cleanData['The Halal Guys'] = cleanData['The Halal Guys'].astype('int')


cleanData.Breakfast = cleanData.Breakfast.astype('int')
cleanData['Breakfast'] = cleanData.Breakfast

cleanData.Lunch = cleanData.Lunch.astype('int')
cleanData['Lunch'] = cleanData.Lunch

cleanData.Snack = cleanData.Snack.astype('int')
cleanData['Snack'] = cleanData.Snack

cleanData.Dinner = cleanData.Dinner.astype('int')
cleanData['Dinner'] = cleanData.Dinner

In [39]:
Halal = cleanData['The Halal Guys'] 

Halal = Halal.str.replace('1 @ The Market', '1')

cleanData['The Halal Guys'] = Halal

In [38]:
Kitchen = cleanData['Open Kitchen']

Kitchen = Kitchen.str.replace('1 - Chicken Kitchen', '1')

cleanData['Open Kitchen'] = Kitchen 

cleanData['Open Kitchen'].unique()

array(['0', '1'], dtype=object)

In [27]:
west = cleanData['Late Night Cafe West']

west = west.str.replace('Late Night Case at West', '1')

cleanData['Late Night Cafe West'] = west

cleanData['Late Night Cafe West'].unique()

array(['0', '1'], dtype=object)

In [28]:
cane = cleanData['Raising Canes']

cane = cane.str.replace('Raising Cane\'s', '1')

cleanData['Raising Canes'] = cane

cleanData['Raising Canes'].unique()

array(['0', '1'], dtype=object)

In [29]:
rh = cleanData['Rhetts']

rh = rh.str.replace('Rhett\'s', '1')

cleanData['Rhetts'] = rh

cleanData['Rhetts'].unique()

array(['0', '1'], dtype=object)

In [30]:
warren = cleanData['Late Night Cafe Warren']

warren = warren.str.replace('Late Night Cafe at Warren', '1')

cleanData['Late Night Cafe Warren'] = warren

In [31]:
baystate = cleanData['Baystate Underground']

baystate = baystate.str.replace('Bay State Underground', '1')

cleanData['Baystate Underground'] = baystate

In [32]:
dunkin = cleanData['Dunkin']

dunkin = dunkin.str.replace('1 Donuts', '1')

cleanData['Dunkin'] = dunkin

In [33]:
fenway = cleanData['Late Night Kitchen Fenway']

fenway = fenway.str.replace('Late Night Kitchen - Fenway Campus', '1')

cleanData['Late Night Kitchen Fenway'] = fenway

In [34]:
crb = cleanData['CRB']

cleanData['CRB'][cleanData['CRB'] == 'Charles River Bread Co. (1)'] = '1'

In [35]:
panda = cleanData.Panda

panda = panda.str.replace('1 Express', '1')

cleanData.Panda = panda

In [36]:
cleanData['CRB'].unique()

array(['0', '1'], dtype=object)

In [41]:
cleanData['Panda'] = cleanData['Panda'].astype('bool')
cleanData['Late Night Kitchen Fenway'] = cleanData['Late Night Kitchen Fenway'].astype('bool')
cleanData['Starbucks'] = cleanData['Starbucks'].astype('bool')
cleanData['CityCo'] = cleanData['CityCo'].astype('bool')
cleanData['Dunkin'] = cleanData['Dunkin'].astype('bool')
cleanData['Breadwinners'] = cleanData['Breadwinners'].astype('bool')
cleanData['Baystate Underground'] = cleanData['Baystate Underground'].astype('bool')

cleanData['Law School Cafe'] = cleanData['Law School Cafe'].astype('bool')
cleanData['Einstein Bros. Bagels'] = cleanData['Einstein Bros. Bagels'].astype('bool')
cleanData['Subway'] = cleanData['Subway'].astype('bool')
cleanData['Basho'] = cleanData['Basho'].astype('bool')
cleanData['Late Night Cafe Warren'] = cleanData['Late Night Cafe Warren'].astype('bool')
cleanData['Raising Canes'] = cleanData['Raising Canes'].astype('bool')

cleanData['Healthy Blends'] = cleanData['Healthy Blends'].astype('bool')
cleanData['Late Night Cafe West'] = cleanData['Late Night Cafe West'].astype('bool')
cleanData['Greens & Grains'] = cleanData['Greens & Grains'].astype('bool')
cleanData['CRB'] = cleanData['CRB'].astype('bool')
cleanData['Open Kitchen'] = cleanData['Open Kitchen'].astype('bool')

cleanData['Rhetts'] = cleanData['Rhetts'].astype('bool')
cleanData['The Halal Guys'] = cleanData['The Halal Guys'].astype('bool')


cleanData.Breakfast = cleanData.Breakfast.astype('bool')
cleanData['Breakfast'] = cleanData.Breakfast

cleanData.Lunch = cleanData.Lunch.astype('bool')
cleanData['Lunch'] = cleanData.Lunch

cleanData.Snack = cleanData.Snack.astype('bool')
cleanData['Snack'] = cleanData.Snack

cleanData.Dinner = cleanData.Dinner.astype('bool')
cleanData['Dinner'] = cleanData.Dinner

In [43]:
cleanData

,Food_spending,Income,Allowance_month,Source of Income,Other_Income,Work,DiningPlan,Other_DiningPlan,Breakfast,Lunch,...,Panda,Late Night Kitchen Fenway,Meals_Amount,Travel,Travel_Other,Age,Living,Gender,International,BU_Status
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,...,False,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,...,False,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,20,0,0,Work,NaN,Yes,330 Plan,NaN,True,False,...,False,False,14,5,NaN,19,0,Male,No,Undergraduate student
11,30,0,0,Savings,NaN,No,Unlimited Plan,NaN,True,True,...,True,False,24,15,NaN,19,0,Male,Yes,Undergraduate student
12,NaN,4,3,Allowance,NaN,Yes,Apartment Plan 500,NaN,False,True,...,False,False,2,15,NaN,19,1,Male,No,Undergraduate student
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
181,20,0,0,Work,NaN,Yes,I don't have a dining plan,NaN,False,True,...,False,False,2,15,NaN,NaN,1,Female,No,Undergraduate student
182,175,1,0,Work,NaN,Yes,I don't have a dining plan,NaN,False,True,...,False,False,7,30,NaN,21,1,Male,No,Undergraduate student
183,60,6,1,Savings,NaN,No,330 Plan,NaN,False,True,...,False,False,7,15,NaN,20,0,Male,No,Undergraduate student
184,20,0,0,Scholarship,NaN,No,I don't have a dining plan,NaN,False,True,...,False,False,2,15,NaN,25,1,Female,Yes,Graduate student
186,50,2,6,Allowance,NaN,No,I don't have a dining plan,NaN,True,False,...,True,False,NaN,15,NaN,19,1,Female,Yes,Undergraduate student

In [42]:
exportPath = '/Users/nicolelubaczewska/Downloads/ba222Project_CleanData_12December.csv'

cleanData.to_csv(exportPath)